MessengerBackend/.env
MessengerBackend/secrets
Messengerbackend/appsettings.Secret.json
/.idea/
/.vs/
/MessengerBackend/obj/
/MessengerBackend/bin/
/MessengerBackendTests/bin/
/MessengerBackendTests/obj/
